html {
    height: 100vh;
    width: 100vm;
}
body{
    display: grid;
    height: inherit;
    width: inherit;
}
canvas {
    position: absolute;
    z-index: 0;
}

h1 {
    position: relative;
    z-index: 1000;
    align-self: center;
    justify-self: center;
    display: flex;
    font-weight: bold;
    font-family: monospace;
    font-size: 300%;
    color: #d3c8ff;
    text-shadow: 0 10px 6px #0F0F0F;
}